.chartForm {
  white-space: nowrap;
  display: inline-block;
}

.MUILineBreak {
  color: #eceff1;
  display: inline-block;
  font-family: "Roboto";
  white-space: nowrap;
}

.CompanyDetails {
  white-space: nowrap;
  display: inline-block;
  color: #eceff1;
}

.redBackground {
  background-color: #b71c1c !important;
  padding: 5px;
}

.greenBackground {
  background-color: #1b5e20 !important;
  padding: 5px;
}

.chartTickerInput {
  max-width: 100px !important;
}