.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    "a a a a b c d ."
    "f f f g h i j k";
}

.name {
}
.select {
  grid-area: b;
  display: flex;
  align-content: flex-end;
}
.save {
  grid-area: a;
}
.loadWrapper {
  display: flex;
  align-items: end;
}
.load {
  grid-area: c;
}
.update {
  grid-area: c;
}
.delete {
  grid-area: d;
}

.formGroup {
  grid-column-start: 1;
  grid-area: f;
  order: 1;
}
